<!DOCTYPE html>
<html lang="en">
  <!-- index.ejs (пример) -->
<head>
  <link rel="stylesheet" href="/styles/main.css">
</head>

  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <h1>Posts:</h1>

    <% if (posts.length) { %> <% posts.forEach(post => { %>
      <ul>
        <li>
          <article>
            <h2>
              <a href=""><%= post.title %>
                <%= post.id  %>
              </a>
            </h2>
            <p><%= post.text %></p>
            <div class="info">
              <span><%= post.date %></span>
              <span><%= post.author %></span>
            </div>
          </article>
        </li>
      </ul>
    <% }); %>
   <% } %>




   <!-- ejs-views/posts.ejs -->
<h1>Список постов</h1>
<% if (posts.length > 0) { %>
  <ul>
    <% posts.forEach(post => { %>
      <li>
        <h2><%= post.title %></h2>
        <p><%= post.text %></p>
        <p>Автор: <%= post.author %>, Дата: <%= post.date %></p>
      </li>
    <% }); %>
  </ul>
<% } else { %>
  <p>Постов пока нет.</p>
<% } %>

  </body>
</html>
